<style>
.fix-image {
	width: 100%;
	height: 500px;
	padding: 5px 5px;
}
</style>
<div class="row fixed-search">			
	<div class="col-md-12 mx-auto text-muted text-sm">
			<img class="img-fluid fix-image-big" ng-src='img/{{running_data.image}}'>
			<h3>{{running_data.name}}</h3>
		<p >{{running_data.level}}&nbsp;&#124;&nbsp;{{running_data.calories}} Calories&nbsp;&#124;&nbsp;{{running_data.point}} Points</p>
		<p class="text-left">
			Running is a method of terrestrial locomotion allowing humans and other animals to move rapidly on foot. Running is a type of gait characterized by an aerial phase in which all feet are above the ground (though there are exceptions[1]). This is in contrast to walking, where one foot is always in contact with the ground, the legs are kept mostly straight and the center of gravity vaults over the stance leg or legs in an inverted pendulum fashion.[2] A characteristic feature of a running body from the viewpoint of spring-mass mechanics is that changes in kinetic and potential energy within a stride occur simultaneously, with energy storage accomplished by springy tendons and passive muscle elasticity.[3] The term running can refer to any of a variety of speeds ranging from jogging to sprinting.

It is assumed that the ancestors of humankind developed the ability to run for long distances about 2.6 million years ago, probably in order to hunt animals.[4] Competitive running grew out of religious festivals in various areas. Records of competitive racing date back to the Tailteann Games in Ireland in 1829 BCE,[5][citation needed] while the first recorded Olympic Games took place in 776 BCE. Running has been described as the world's most accessible sport.[6]
		</p>
	</div>
</div>
