<ul class="nav nav-tabs nav-justified text-muted">
	<li class="menu-custom" id="Dashboard">
		<a href="#/dashboard">
			<i class="fa fa-clock-o text-2x"></i>
			<div>Dashboard</div>
		</a>	
	</li>
	<li class="menu-custom" id="Timeline">
		<a href="#/timeline">
			<img src="img/Timeline-d.png">	
			<div>Timeline</div>
		</a>	
	</li>	
	<li class="menu-custom" id="Nearby">
		<a href="#/nearby">
			<i class="fa fa-map-marker text-2x"></i>
			<div>&nbsp;&nbsp;Nearby&nbsp;&nbsp;</div>
		</a>
	</li>	
	<li class="menu-custom" id="Challenges">
		<a href="#/challenges">
			<img src="img/Challenges-d.png">			
			<div>Challenges</div>
		</a>
	</li>
</ul>
